@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins";
  font-weight: 400;
  color: #fff;
  background-color: var(--main-b);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow-clip-margin: unset;
}

body, p, a, button, h1, h2, h3, h4, h5, h6, textarea {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-size: 16px;
}

button, a {
  cursor: pointer;
  background: transparent;
}

a {
  text-decoration: none;
}

:root {
  --main-g: #0F5257;
  --main-g05: rgba(15, 82, 87, .05);
  --main-g33: rgba(15, 82, 87, .33);
  --main-g50: rgba(15, 82, 87, .5);
  --main-g75: rgba(15, 82, 87, .75);
  --main-c: #CECEEA;
  --main-g2: #0B3142;
  --main-b: #D6D3F0;
  --main-gr: #646464;
  --main-gr50: rgba(100, 100, 100, .5);
  --main-gr75: rgba(100, 100, 100, .75);
  --main-1e: #1e1e1e;
  --main-1e-50: rgba(30, 30, 30, 0.5);
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  border-bottom: 1px solid var(--main-gr);
}

.header-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 70px;
}

.logo-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo-box__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #000;
}

.header-box__header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-box__header-content > *:not(:last-child) {
  margin-right: 50px;
}

.header-content__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__navigation > *:not(:last-child) {
  margin-right: 30px;
}

.navigation-button {
  font-size: inherit;
  font-family: inherit;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.navigation-button:hover {
  color: var(--main-g);
}

.header-content__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__user > *:not(:last-child) {
  margin-right: 15px;
}

.user-account, .user-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 22px;
}

.catalog {
  background-color: var(--main-g2);
  -webkit-box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.11);
}
.catalog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-box > *:not(:last-child) {
  margin-right: 20px;
}

.catalog-box__button {
  font-family: inherit;
  font-size: 14px;
  color: inherit;
}

.catalog-box__search {
  width: 250px;
  height: 100%;
  max-width: 250px;
  font-size: 16px;
  padding: 7px 12px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--main-b);
  outline: none;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.catalog-box__search:focus {
  background-color: rgb(225, 223, 247);
  -webkit-box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.05);
}

.catalog-box__search::-webkit-input-placeholder {
  color: var(--main-g);
}

.catalog-box__search::-moz-placeholder {
  color: var(--main-g);
}

.catalog-box__search:-ms-input-placeholder {
  color: var(--main-g);
}

.catalog-box__search::-ms-input-placeholder {
  color: var(--main-g);
}

.catalog-box__search::placeholder {
  color: var(--main-g);
}

.hero {
  position: relative;
}

.hero-cover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.hero-cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-g75);
}

.image {
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-box {
  max-height: 300px;
  padding: 22px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-box__title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-box__hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}

.hero-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.item-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--main-g);
  border-radius: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--main-g);
}

.gallery__item:hover .item__description-block {
  opacity: 1;
}

.item__description-block {
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background-color: var(--main-g75);
  padding: 10px 14px;
  border-radius: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__price span {
  display: block;
}

.item__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 11px;
}

.item__image {
  border-radius: 11px;
}

.categories-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 90px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.categories-box__title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 40px;
  color: black;
}

.categories-box__categories-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px 20px;
  border-radius: 11px;
  background-color: var(--main-c);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content__row:not(:last-child) {
  margin-bottom: 20px;
}

.row-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--main-g);
}

.row-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}
.row-items .item-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: var(--main-g);
  border-radius: 14px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.row__item:hover {
  background: var(--main-g33);
  color: white;
}

.row__item-image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 11px;
}
.row__item-image-block .image {
  border-radius: 11px;
}

.row__item-description {
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.row__item-description p {
  color: inherit;
}

.item__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  font-weight: 400;
  color: inherit;
}
.item__price-block .price {
  font-size: 18px;
  margin-right: 1px;
}
.price, .currency {
  display: block;
}

.discount {
  background-color: var(--main-g75);
  overflow: hidden;
}
.discount .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.discount .discount__inner-wrapper {
  position: relative;
}

.discount__image-block {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.discount__image-block .image__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 731px;
  height: 482px;
}
.discount__image-block .image {
  opacity: 40%;
}

.discount-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.discount-box > *:not(:last-child) {
  margin-right: 100px;
}

.discount-box__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.description-text {
  font-size: 28px;
}

.discount-box__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  font-family: "Poppins";
  padding: 20px 25px;
  border-radius: 11px;
  -webkit-box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.05);
  background-color: var(--main-g);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-title {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 14px;
}

.form-content > *:not(:last-child) {
  margin-bottom: 10px;
}

.form-content__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 35px;
  background-color: white;
  border-radius: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-block__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 7px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.input-block__label .image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
}

.splitter {
  display: block;
  width: 1px;
  margin: 7px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--main-gr50);
}

.input-block__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  outline: none;
  border: none;
  font-size: inherit;
  padding: 7px 12px;
  background-color: transparent;
}

.form-content__message {
  min-height: 125px;
  padding: 7px 12px;
  margin-bottom: 10px;
  border-radius: 11px;
  min-width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-content__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
  width: 100%;
  height: 40px;
  border-radius: 11px;
  color: white;
  background-color: var(--main-g2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.product .product-box {
  padding: 50px 0 90px 0;
}
.product .product-box__row-box:not(:last-child) {
  margin-bottom: 40px;
}
.product .row-box__title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--main-g);
}
.product .row-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product .row-box__item > *:not(:last-child) {
  margin-right: 115px;
}
.product .item__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  background-color: var(--main-g05);
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.02);
}
.product .gallery__images-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 25px;
}
.product .gallery__images-block .image-block {
  width: 90px;
  height: 70px;
  border-radius: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product .gallery__images-block .active {
  border: 1px solid var(--main-g);
}
.product .gallery__images-block .image-block:not(:last-child) {
  margin-bottom: 10px;
}
.product .image {
  border-radius: 11px;
}
.product .galley__main-image {
  width: 413px;
  height: 310px;
  border-radius: 11px;
}
.product .item__interaction {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.product .item__code-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: var(--main-1e-50);
  margin-bottom: 20px;
}
.product .item__code-box p {
  font-size: inherit;
  margin-right: 5px;
}
.product .interaction-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.product .item__description-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 241px;
          flex: 1 1 241px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 241px;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product .item__price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--main-g);
  margin-bottom: 3px;
}
.product .price {
  font-size: 24px;
  margin-right: 1px;
}
.product .currency {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  font-size: 20px;
}
.product .item__description-table {
  width: 100%;
  color: var(--main-1e-50);
  font-size: 16px;
}
.product .item__description-table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product .item__description-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product .item__description-table td {
  padding: 0;
}
.product .item__description-table [name=description-value] {
  color: var(--main-g);
}
.product .item-add {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 286px;
          flex: 1 1 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 286px;
  color: var(--main-1e);
  background-color: var(--main-g05);
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.02);
  padding: 15px 20px;
  border-radius: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product .item-add__title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.product .dropdown-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.product .dropdown-title {
  display: block;
  margin-bottom: 5px;
}
.product .item-add__dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 35px;
}
.product .item-add__dropdown .image-block {
  position: absolute;
  top: 12.5px;
  right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10px;
  height: 10px;
}
.product .item-select {
  width: 100%;
  height: 100%;
  font-size: inherit;
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 7px 12px;
  border-radius: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product .item-select:hover {
  border: 2px solid var(--main-g50);
  margin: -2px;
}
.product .item-add__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 35px;
  border-radius: 11px;
  border: 2px solid var(--main-g);
  margin: 10px 0;
  color: var(--main-g);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.product .item-add__submit:hover {
  background-color: var(--main-g);
  color: white;
}
.product .item-add__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}
.product .item-add__info p {
  margin-right: 5px;
  font-size: inherit;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  background-color: var(--main-g2);
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer-box .footer-box__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 15px;
}
.footer-box .footer-box__socials > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer-box .footer-box__socials > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.footer-box .footer-box__socials > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.footer-box .footer-box__socials > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.footer-box .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.footer-box .item__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22px;
  height: 22px;
}
.footer-box .footer-box__contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-box .footer-box__contact-block > *:not(:last-child) {
  margin-right: 70px;
}
.footer-box .footer-box__navigation .navigation-button {
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.footer-box .footer-box__navigation .navigation-button:hover {
  color: var(--main-c);
}
.footer-box .footer-box__navigation > *:not(:last-child) {
  margin-right: 30px;
}
.footer-box .footer__call-now {
  color: inherit;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.footer-box .footer__call-now:hover {
  color: var(--main-c);
}