.similar {

    .container {
    }
    
    .similar-box {
    }
    .similar-box__row-box {
        padding-bottom: 90px;
    }
    .row-box {
    }
    .row-box__title {
    }
    .row-box__carousel {
        position: relative;

        overflow: hidden;

        padding: 15px 20px;
        border-radius: 11px;
        box-sizing: border-box;
        background-color: var(--main-g05);
    }
    .row-items__wrapper {
        overflow: hidden;
    }
    .row-items {
        position: relative;
        left: 0;
        flex-wrap: nowrap;
        transition: .5s cubic-bezier(0, -0.15, 1, 1.15);
    }
    .item-wrapper {
    }
    .row__item {
    }
    .item {
    }
    .row__item-image-block {
    }
    .image {
    }
    .row__item-description {
    }
    .item__price-block {
    }
    .price {
    }
    .currency {
    }
    .item__name {
    }

    button {
        position: absolute;
        top: -40px;
        opacity: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;

        border-radius: 50px;
        background-color: white;
        box-shadow: 0 0 7px 2px rgba(0, 0, 0, .05);

        transition: .4s ease-in-out;

        &:hover {
            background-color: var(--main-g);
        }

        img {
            width: 60%;
            height: 60%;
        }
    }

    .prev {
        left: 5px;
    }

    .next {
        right: 5px;
    }

    .prev {
    }
    .next {
    }
}