:root {
    --main-g: #0F5257;
    --main-g05: rgba(15, 82, 87, .05);
    --main-g33: rgba(15, 82, 87, .33);
    --main-g50: rgba(15, 82, 87, .5);
    --main-g75: rgba(15, 82, 87, .75);
    --main-c: #CECEEA;
    --main-g2: #0B3142;
    --main-b: #D6D3F0;
    --main-gr: #646464;
    --main-gr50: rgba(100, 100, 100, .5);
    --main-gr75: rgba(100, 100, 100, .75);
    --main-1e: #1e1e1e;
    --main-1e-50: rgba(30, 30, 30, 0.5);
}