body {
    font-family: 'Poppins';
    font-weight: 400;

    color: #fff;
    background-color: var(--main-b);
}

.wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.container {
    max-width: 1280px;

    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow-clip-margin: unset;
}