body, p, a, button, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-size: 16px;
}

button, a {
    cursor: pointer;
    background: transparent;
}

a {
    text-decoration: none;
}